[user]
	name = Dustin Rouillard
	email = me@dustin.sh
	signingkey = 96E42E4EAAF3AA8CBCA568A3A6DD3D17EFFC21D7
[core]
	filemode = false
[commit]
	gpgsign = true
[advice]
	ignoredHook = false
[gpg]
	program = gpg
[url "git@git.notify.me:"]
	insteadOf = https://git.notify.me/
