[user]
	name = Dustin Rouillard
	email = dustin@tetra.dev
	signingkey = EB8D6E39FE5527F68592EA60FAFF30725A16282D
[core]
	filemode = false
[commit]
	gpgsign = false
[advice]
	ignoredHook = false
[gpg]
	program = gpg
